@page "/"
@using static GameSetUp;

<style>
    .container {
        display: flex;
        flex-direction: column;
        width: 400px;
        background-color: gray;
        border-radius: 7px;
    }

    .component {
        border-radius: 7px;
        font-weight: bold;
        text-align: center;
        line-height: 1.4;
    }

    .comp- {
        background-color: lightgray;
        font-size: 4rem;
    }

    .comp-2 {
        font-size: 4rem;
        background-color: beige;
    }

    .comp-4 {
        font-size: 4rem;
        background-color: aqua;
    }

    .comp-8 {
        font-size: 4rem;
        background-color: lightblue;
    }

    .comp-16 {
        font-size: 3.3rem;
        background-color: purple;
        color: #e9e9e9;
        line-height: 1.7;
    }

    .comp-32 {
    }

    .row {
        height: 100px;
    }

    .col {
        margin: 5px !important;
    }
</style>

<div class="container" @onkeydown="OnKeyPress" tabindex="0">
    @for (int i = 0; i < components.GetLength(0); i++)
    {
        <div class="row">
            @for (int j = 0; j < components.GetLength(1); j++)
            {
                <div class="col component comp-@components[i,j]">@components[i,j]</div>
            }
        </div>
    }

</div>

@code {
    protected override void OnInitialized()
    {
        SetUpGame(4);
    }

    private void OnKeyPress(KeyboardEventArgs e)
    {
        Console.WriteLine(e.Key);
        if (e.Key == "ArrowLeft")
        {
            OnLeftMove();
        }
        else if (e.Key == "ArrowRight")
        {
            OnRightMove();
        }

    }
}